* {
  margin: 0;
  padding: 0;
}


/* ------------------------------------------ NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.navbar h1 {
  padding: 10px;
}

.navbar ul {
  display: flex;
  margin-right: 8em;
  padding: 10px;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
  color: black;
}

.cart {
  color: black;
  margin-right: 1em;
  padding: 10px;
}

/* ----------------------------------- SALUDO DE BIENVENIDA */

.greeting {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.greeting p {
  font-size: 2em;
}